

# Slot: representative_verification 


_Explanation of how representativeness was validated or verified._

__





URI: [data_sheets_schema:representative_verification](https://w3id.org/bridge2ai/data-sheets-schema/representative_verification)
Alias: representative_verification

<!-- no inheritance hierarchy -->





## Applicable Classes

| Name | Description | Modifies Slot |
| --- | --- | --- |
| [SamplingStrategy](SamplingStrategy.md) | Does the dataset contain all possible instances, or is it a sample (not neces... |  no  |






## Properties

* Range: [String](String.md)

* Multivalued: True




## Identifier and Mapping Information






### Schema Source


* from schema: https://w3id.org/bridge2ai/data-sheets-schema




## Mappings

| Mapping Type | Mapped Value |
| ---  | ---  |
| self | data_sheets_schema:representative_verification |
| native | data_sheets_schema:representative_verification |




## LinkML Source

<details>
```yaml
name: representative_verification
description: 'Explanation of how representativeness was validated or verified.

  '
from_schema: https://w3id.org/bridge2ai/data-sheets-schema
rank: 1000
alias: representative_verification
owner: SamplingStrategy
domain_of:
- SamplingStrategy
range: string
multivalued: true

```
</details>